<a href="https://colab.research.google.com/github/Oliz888/Machine-Learning-Hung-yi-Lee/blob/main/Prep_Python_Basic_Syntax_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python variable

In [ ]:
## creating variables
x = 5
y = 'John'

In [ ]:
## casting: specifying the data type of a variable
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

In [ ]:
# get the type
print(type(x))
print(type(y)

In [ ]:
# '' and "" are the same
# a and A - case senstitive

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# 2myvar = "John"
# my-var = "John"
# my var = "John"

In [ ]:
# assigning multiple variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
# one value to multiple variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
# unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

In [ ]:
# global variables: reate a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

# local variables: Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

## Data Types

- Text Types: `str`
- Numerical Types: `int`, `float`, `complex`
- Sequence Types: `list`, `typle`, `range`
- Mapping Types: `dict`
- Set Types: `set`, `frozenset`
- Boolean types: `bool`
- Binary: `bytes`, `bytearray`, `memoryview`
- NoneType: `NoneType`

In [ ]:
## setting the datatype

x = "Hello World"	## str
x = 20 ##int
x = 20.5 ## float
x = 1j ## complex
x = ["apple", "banana", "cherry"] ##list
x = ("apple", "banana", "cherry") ##tuple
x = range(6) ##range
x = {"name": "John", "age": 36} ##dict
x = {"apple", "banana", "cherry"} ##set
x = frozenset({"apple", "banana", "cherry"})
x = True ## bool
x = b"Hello" ## bytes
x = memoryview(bytes(5)) ## memoryview
x = None ## NoneType

## Python Number

There are 3 numerical types in python
- `int`
- `float`
- `complex`

In [ ]:
x = 1 #int
x = 2.8 #float
z = 1j #complex

print(type(x))
print(type(y))
print(type(z))

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
## type conversion
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
import random

print(random.randrange(1, 10))

## Python casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

## Python Strings

In [ ]:
b = "Hello, World!"
## Slicing
print(b[2:5]) ## Get the characters from position 2 to position 5 (not included):
print(b[:5]) ## Get the characters from the start to position 5 (not included)
print(b[2:]) ## Get the characters from position 2, and all the way to the end

## Negative Indexing
b = "Hello, World!"
print(b[-5:-2]) # From: "o" in "World!" (position -5) To, but not included: "d" in "World!" (position -2):

In [ ]:
# Modify strings
a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.lower())

a = " Hello, World! "
print(a.strip()) # returns "Hello,World!"

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
## concatenation strings
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
# string format
age = 36
txt = "My name is John, I am " + age
print(txt)

# F-Strings: To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.
age = 36
txt = f"My name is John, I am {age}"
print(txt)

# Add a placeholder for the price variable
price = 59
txt = f"The price is {price} dollars"
print(txt)

# Display the price with 2 decimals
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

# Perform a math operation in the placeholder, and return the result
txt = f"The price is {20 * 59} dollars"
print(txt)

In [ ]:
# Escape Characters
txt = "We are the so-called \"Vikings\" from the north."

## Boolean Values

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)


a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
print(bool("Hello"))
print(bool(15))

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

Python Operators

In [ ]:
x + y
x - y
x * y
x / y
x % y
x**y
x//y

x += 3 ## x = x + 3
x -= 3
x *= 3
x /= 3
x //= 3
x **= 3
x &= 3
x |= 3
x ^= 3
x >>= 3
x <<= 3
print(x := 3)

== # equal
!= # not equal
> # great then
< # less then
<= # less than or equal to

x < 5 and  x < 10
x < 5 or x < 4
not(x < 5 and x < 10)

is
is not

in
not in

x & y
x | y ## Sets each bit to 1 if one of two bits is 1
x ^ y ## Sets each bit to 1 if only one of two bits is 1
~x ## Inverts all the bits
<< ## Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>## Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

()
**
+x -x ~x
* /  //  %
<< >>
&
^
|
== != > <

## Python List

List are used to store multiple items in a single variables

One of 4 built-in data types in python to store the data  
- list
- tuple
- set
- dictionar

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

## list allows duplicate values

## print the length of ths list
print(len(thislist))

## list items - data types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

list1 = ["abc", 34, True, 40, "male"]

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

- `List` is a collection which is ordered and changeable. Allows duplicate members.
- `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
- `Set` is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- `Dictionary` is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
## access list items

thislist = ["apple", "banana", "cherry"]
print(thislist[1]) # Note: The first item has index 0.

# Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) # The search will start at index 2 (included) and end at index 5 (not included)

In [ ]:
# To add an item to the end of the list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
# Remove the first occurrence of "banana"
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

# Remove the second item
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

Z# If you do not specify the index, the pop() method removes the last item.
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

# Remove the first item
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry
apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

newlist = [x for x in fruits if "a" in x]
print(newlist)

# newlist = [expression for item in iterable if condition == True]

newlist = [x for x in fruits if x != "apple"]
print(newlist)
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)
newlist = [x.upper() for x in fruits]
print(newlist)
newlist = ['hello' for x in fruits]
print(newlist)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
# sort the list alphabetically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

# Sort the list numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

# To sort descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

# customize Sort Funciton
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
# copy list

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

# make a copy using slicing method
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

In [ ]:
# join two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

# append list2 into list1
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

# Use the extend() method to add list2 at the end of list1
list1.extend(list2)
print(list1)

## Typle
- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets.

In [ ]:
# thistuple = ("apple", "banana", "cherry")
# print(thistuple)

# thistuple = ("apple", "banana", "cherry", "apple", "cherry")
# print(thistuple)